extends layout.pug 

block content 
  div.container 
    h1 Create card 

    if error
      p.error You did some error! Try again!

    if success 
      p.success Card successfully created!

    form.form(action="/create" method='POST')
      label Title 
      input.input(type="text" name='title')

      label Description 
      textarea.input(type="text" name="description")
      
      button.btn Create card
